APP_NAME="VA-Connect"
APP_MATCH="/opt/va-connect/va-connect"
APP_START_CMD="/opt/va-connect/start-va-connect.sh"
APP_WORKDIR="/opt/va-connect"
WATCHDOG_LOG="/var/log/va-connect-watchdog.log"
STATE_DIR="/var/lib/va-connect-watchdog"
COOLDOWN_FILE="/var/lib/va-connect-watchdog/last_start_epoch"
START_COOLDOWN_SECONDS="30"
STARTUP_GRACE_SECONDS="15"
